/*-----------------------------
# [Color codes]
----------------------------- */
$primary-color: #012d41;
$secondary-color: #08d4a1;
$link-color: #08d4a1;
$link-color-hover: darken($link-color,10%);
$primary-text-color: #363636;
$bg-dark: #252525;
$bg-gray: #f8f8f8;
$bg-lighter: #f8f8f8;
$muted: #919191;
$border-color: #e1e3ea;
$input-border-color: #012d41;
$red: #e81145;
$black: #000;
$orange: #f47631;
$yellow: #feae01;
$cyan: #08d4a1;
$blue: #012d41;
$green: #D6E9C6;

$facebook: #3F5C99;
$twitter: #1DA0F2;
$google: #DC4A38;
$instagram: #A4785B;

$sectionColor1: #fff;
$sectionColor2: #012d41;
$sectionColor3: #08d4a1;
$sectionColor4: #e81145;
$sectionColor5: #feae01;
$sectionColor6: #fff;
$sectionColor7: #012d41;
$sectionColor8: #08d4a1;
$sectionColor9: #e81145;

/*-----------------------------
# [Size]
----------------------------- */
$glutter: 50px;
$breakpoint-sm: 768px;
$breakpoint-xs: 560px;
$header-height: 70px;

/*-----------------------------
# [Typography]
----------------------------- */
$font-size-base: 14px;
$font-size-large: 3rem;
$font-size-small: 13px;
$serif: "Nunito", arial, sans-serif;
$san-serif: 'Montserrat Alternates', arial, sans-serif;
$monospace: Inconsolata, monospace;
