/*-----------------------------
# [Color codes]
----------------------------- */
$primary-color: #B4412B;
$secondary-color: #F79521;
$link-color: #000;
$link-color-hover: #B4412B;
$primary-text-color: #000;
$bg-dark: #252525;
$bg-gray: #DFDFE2;
$bg-lighter: #f8f8f8;
$muted: #596377;
$border-color: #e1e3ea;
$input-border-color: #e5e5e5;
$red: #e41919;
$black: #000;
$orange: #f47631;
$yellow: #ffce02;
$cyan: #27c5c3;
$blue: #43a5de;
$green: #D6E9C6;

$facebook: #3F5C99;
$twitter: #1DA0F2;
$google: #DC4A38;
$instagram: #A4785B;

/*-----------------------------
# [Size]
----------------------------- */
$glutter: 30px;
$breakpoint-sm: 768px;
$breakpoint-xs: 560px;

/*-----------------------------
# [Typography]
----------------------------- */
@import url('https://fonts.googleapis.com/css?family=Prata|Quicksand:300,400,700&subset=vietnamese');
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
$font-size-base: 18px;
$font-size-large: 20px;
$font-size-small: 14px;
$san-serif: Prata, arial, sans-serif;
$serif: 'Quicksand', 'Times New Roman', Times, serif;
$monospace: Inconsolata, monospace;
