			
		</div> <!-- master-inner -->
	</main> <!-- master -->
	
	<!-- FOOTER -->
	<div id="footer">
		<footer class="footer">
			<section class="footer-inner">
				<div class="container">
					<div class="copyright">
						f m
					</div> <!-- copyright -->
					<div class="credit">
						© Copyright 2017
					</div> <!-- credit -->
					<div class="design-by">Design by MyStyle</div>
				</div> <!-- container -->
			</section> <!-- / footer-inner -->
		</footer> <!-- / footer -->
	</div>
	<!-- / FOOTER -->
</body>
</html>