			
		</div> <!-- master-inner -->
	</main> <!-- master -->
	
	<!-- FOOTER -->
	<div id="footer">
		<footer class="footer">
			<section class="footer-inner">
				<div class="container">
					<div class="copyright">
						Contact : <a href="tel:0943.870.301">0943.870.301</a> - Email: <a href="mailto:luubinhan1989@gmail.com">luubinhan1989@gmail.com</a>
					</div> <!-- copyright -->
					<div class="credit">
						© 2017
					</div> <!-- credit -->
				</div> <!-- container -->
			</section> <!-- / footer-inner -->
		</footer> <!-- / footer -->
	</div>
	<!-- / FOOTER -->	
	<div class="widget_social">
		<div class="follow-title">Follow Us</div>
		<div class="widget-body">
			<p>
				<a target="_blank"  href="" class="s-link s-facebook"><i class="ion-social-facebook"></i></a>
			</p>
			<p>
				<a target="_blank"  href="" class="s-link s-twitter"><i class="ion-social-twitter"></i></a>			
			</p>
			<p>
				<a target="_blank"  href="" class="s-link s-email"><i class="ion-social-instagram"></i></a>
			</p>
			<p>
				<a target="_blank"  href="" class="s-link s-email"><i class="ion-social-googleplus"></i></a>
			</p>
		</div><!-- widget-body -->
	</div><!-- widget_social -->
	
</body>
</html>