/*-----------------------------
# [Color codes]
----------------------------- */
/*-----------------------------
# [Size]
----------------------------- */
/*-----------------------------
# [Typography]
----------------------------- */
/*-----------------------------
# [MIXIN]
----------------------------- */
/* List - Text - Link
-------------------------------------------------------------- */
html {
  font-size: 100.01%; }

body {
  font-size: 16px;
  color: #363636;
  line-height: 1.5;
  font-family: "Nunito", arial, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

br {
  height: 0;
  line-height: 0;
  font-size: 0;
  margin: 0; }

a {
  color: #08d4a1;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #06a37c;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", arial, sans-serif; }

h1 {
  font-size: 30px;
  line-height: 36px;
  line-height: 1.2; }

h2 {
  font-size: 24px;
  line-height: 36px;
  line-height: 1.2; }

h3 {
  line-height: 27px;
  font-size: 18px;
  line-height: 1.2; }

h4 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  line-height: 1.2; }

h5 {
  font-size: 12px;
  line-height: 18px;
  line-height: 1.2; }

h6 {
  font-size: 11px;
  line-height: 18px;
  line-height: 1.2; }

ul,
ol {
  padding: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 20px; }

dt,
dd {
  line-height: 20px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 10px; }

.dl-horizontal:after,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: ""; }

.dl-horizontal:after {
  clear: both; }

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap; }

.dl-horizontal dd {
  margin-left: 180px; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #e1e3ea;
  border-bottom: 1px solid #ffffff; }

label {
  font-weight: normal; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #e1e3ea; }

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px; }

blockquote small {
  display: block;
  line-height: 20px;
  color: #919191; }

blockquote small:before {
  content: '\2014 \00A0'; }

blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #e1e3ea;
  border-left: 0; }

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right; }

blockquote.pull-right small:before {
  content: ''; }

blockquote.pull-right small:after {
  content: '\00A0 \2014'; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px; }

code,
pre {
  padding: 0 3px 2px;
  font-family: Inconsolata, monospace;
  font-size: 12px;
  color: #363636;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f8fcfd;
  border: 1px solid #e1e3ea; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f8fcfd;
  border: 1px solid #e1e3ea; }

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0; }

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="email"] {
  border: 1px solid #012d41;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

input[type="text"],
input[type="button"],
input[type="number"],
input[type="email"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="passwords"],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

select {
  display: inline-block;
  max-width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.25;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* List - Text - Link -------------------------------------------------------------- */
/* Select
-------------------------------------------------------------- */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #919191;
  opacity: 1;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #919191;
  opacity: 1;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #919191;
  opacity: 1;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #919191;
  opacity: 1;
  font-size: 14px; }

::selection {
  background: #012d41;
  /* Safari */
  color: #fff; }

::-moz-selection {
  background: #012d41;
  /* Firefox */
  color: #fff; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

/* Select-------------------------------------------------------------- */
/* MISC 
-------------------------------------------------------------- */
.container:after,
.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.grid-10 {
  float: left;
  width: 10%; }

.pl-10 {
  padding-left: 10px; }

.pl-20 {
  padding-left: 20px; }

.pl-30 {
  padding-left: 30px; }

.pl-40 {
  padding-left: 40px; }

.pr-10 {
  padding-right: 10px; }

.pr-20 {
  padding-right: 20px; }

.pr-30 {
  padding-right: 30px; }

.pr-40 {
  padding-right: 40px; }

.pt-10 {
  padding-top: 10px; }

.pt-20 {
  padding-top: 20px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.p-10 {
  padding: 10px; }

.p-20 {
  padding: 20px; }

.p-30 {
  padding: 30px; }

.p-40 {
  padding: 40px; }

.p-50 {
  padding: 50px; }

.p-60 {
  padding: 60px; }

.p-0 {
  padding: 0px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.banner img,
figure img {
  display: block; }

.reset {
  margin-bottom: 0; }

.reset td {
  padding: 0; }

.inline {
  width: auto; }

.relative {
  position: relative; }

.figure,
figure {
  overflow: hidden; }

.figure img {
  height: 100%;
  max-width: none; }

.figure,
figure {
  text-align: center;
  display: block; }

.figure2 {
  display: block;
  overflow: hidden; }

.figure2 img {
  width: 100%;
  height: auto;
  min-height: 100%; }

.figure2 span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.figure3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  justify-content: center; }

.figure3 img {
  width: auto;
  min-height: 0;
  max-height: 100%;
  display: inline; }

.overhidden {
  overflow: hidden; }

.muted {
  color: #919191; }

.color {
  color: #ff3333 !important; }

.link {
  color: #08d4a1; }

ul.style1 {
  padding: 0;
  margin: 0 0 20px 0; }

ul.style1 li {
  list-style-type: none;
  margin: 0;
  padding-left: 30px; }

ul.style2 {
  padding: 0;
  margin: 0 0 20px 0; }

ul.style2 li {
  list-style-type: none;
  margin: 0;
  padding: 4px 4px 4px 20px; }

hr.line {
  border-top: 1px solid #ccc; }

hr.dashed {
  border-top: 1px dashed #ccc; }

img.align-left {
  float: left;
  margin: 8px 20px 10px 0; }

img.align-right {
  float: right; }

img.align-center {
  margin: 0px auto; }

.align-left {
  text-align: left !important; }

.align-right {
  text-align: right !important; }

.align-center {
  text-align: center !important; }

table.normal {
  width: 100%; }

table.normal tr td {
  vertical-align: top;
  padding: 0 10px 5px 0;
  text-align: left; }

.mystyle-dropcaps {
  color: #363636;
  display: inline-block;
  float: left;
  font-size: 40px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  margin: 5px 20px 0 0;
  position: relative;
  text-align: center;
  width: 45px; }

.mystyle-highlight {
  color: #ffffff;
  background-color: #feae01; }

.woocommerce-Price-amount {
  font-size: 18px;
  font-weight: bold; }
  .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-weight: normal; }

/* MISC --------------------------------------------- */
/* RESET BOOTSTRAP
-------------------------------------------------------------- */
.btn {
  border-radius: 999em;
  padding-left: 2.5em;
  padding-right: 2.5em; }
  .btn.btn-success {
    background-color: #D6E9C6;
    border-color: #D6E9C6; }
    .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active {
      background-color: #c9e2b4;
      border-color: #c9e2b4; }
    .btn.btn-success:focus:active {
      background-color: #bcdba1;
      border-color: #bcdba1; }
  .btn.btn-info {
    background-color: #08d4a1;
    border-color: #08d4a1; }
    .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active {
      background-color: #07bb8e;
      border-color: #07bb8e; }
    .btn.btn-info:focus:active {
      background-color: #06a37c;
      border-color: #06a37c; }
  .btn.btn-warning {
    background-color: #f47631;
    border-color: #f47631; }
    .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active {
      background-color: #f36619;
      border-color: #f36619; }
    .btn.btn-warning:focus:active {
      background-color: #e6590c;
      border-color: #e6590c; }
  .btn.bnt-danger {
    background-color: #e81145;
    border-color: #e81145; }
    .btn.bnt-danger:hover, .btn.bnt-danger:focus, .btn.bnt-danger:active {
      background-color: #d00f3e;
      border-color: #d00f3e; }
    .btn.bnt-danger:focus:active {
      background-color: #b80e37;
      border-color: #b80e37; }
  .btn.btn-primary {
    background-color: #012d41;
    border-color: #012d41; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      background-color: #011c28;
      border-color: #011c28; }
    .btn.btn-primary:focus:active {
      background-color: #000a0f;
      border-color: #000a0f; }

.navbar-default {
  background-color: transparent;
  border: none; }

.dropdown-menu {
  border-color: #e1e3ea;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0; }
  .dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

/*let override default bootstrap style*/
.nav-tabs {
  margin: 0 0 40px;
  border-bottom: 4px solid #e1e3ea;
  display: flex;
  justify-content: space-between;
  height: 51px; }
  .nav-tabs > li {
    float: none;
    flex-grow: 1;
    margin-bottom: -4px;
    text-align: center; }
    .nav-tabs > li.active > a {
      border: none;
      border-bottom: 4px solid #012d41;
      color: #08d4a1; }
      .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: none;
        border-bottom: 4px solid #012d41;
        color: #363636; }
    .nav-tabs > li > a {
      border: none;
      font-weight: bold;
      font-size: 1.2rem;
      color: #363636; }
      .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        background: transparent; }

.vertical-tabs {
  display: flex; }
  .vertical-tabs:after {
    content: "";
    display: block;
    clear: both; }
  .vertical-tabs .nav-tabs {
    width: 300px;
    flex-direction: column;
    border: none; }
    .vertical-tabs .nav-tabs > li {
      width: 300px;
      padding: 0;
      display: block;
      float: none;
      text-align: left; }
      .vertical-tabs .nav-tabs > li.active > a {
        border: none;
        background: #13b3fb;
        color: #000; }
      .vertical-tabs .nav-tabs > li > a {
        border-radius: 0;
        color: rgba(0, 0, 0, 0.6); }
  .vertical-tabs .tab-content {
    flex-grow: 1;
    padding-left: 30px; }

/* RESET BOOTSTRAP -------------------------------------------- */
.home-hero {
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative; }
  .home-hero .home-text {
    text-align: center; }
    .home-hero .home-text .hero-title {
      color: #111;
      font-size: 6rem;
      line-height: 1;
      font-weight: 700;
      margin-bottom: 4rem; }
      .home-hero .home-text .hero-title div:nth-child(1) {
        font-weight: 200; }
      .home-hero .home-text .hero-title div:nth-child(2) {
        font-weight: 300; }
      .home-hero .home-text .hero-title div:nth-child(3) {
        font-weight: 700;
        color: #000; }
    .home-hero .home-text .hero-desc {
      font-size: 1.2rem;
      margin-bottom: 2rem; }
  .home-hero .local-scroll {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 88;
  padding: 50px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  #header[class^="loaded-section-"] {
    padding: 10px 0;
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    background: rgba(255, 255, 255, 0.07); }
  #header .navbar {
    margin-bottom: 0; }
  #header .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px; }
  #header.loaded-section-3 .dat-hang > a {
    background: #08d4a1; }

.section-home {
  height: 100vh; }

#fullpage {
  /* transition: all 750ms cubic-bezier(0.77,0,0.175,1) !important;
  -o-transition: all 750ms cubic-bezier(0.77,0,0.175,1) !important;
  -ms-transition: all 750ms cubic-bezier(0.77,0,0.175,1) !important;
  -moz-transition: all 750ms cubic-bezier(0.77,0,0.175,1) !important;
  -webkit-transition: all 750ms cubic-bezier(0.77,0,0.175,1) !important; */ }

#nav {
  overflow: hidden;
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 0;
  margin-top: -70px;
  padding-left: 38px;
  width: 60px;
  height: 120px; }
  #nav:before {
    content: '';
    width: 20px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.5px;
    background: #ccc;
    display: block; }
  #nav h2 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 30px;
    display: block;
    font-size: 13px;
    color: #fff;
    text-align: center;
    font-family: monospace; }
    #nav h2 a {
      color: #ccc; }
    #nav h2.active span {
      opacity: 1;
      transform: none;
      -o-transform: none;
      -ms-transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      transition-duration: 250ms;
      -o-transition-duration: 250ms;
      -ms-transition-duration: 250ms;
      -moz-transition-duration: 250ms;
      -webkit-transition-duration: 250ms; }
      #nav h2.active span:nth-child(1) {
        transition-delay: 250ms;
        -o-transition-delay: 250ms;
        -ms-transition-delay: 250ms;
        -moz-transition-delay: 250ms;
        -webkit-transition-delay: 250ms; }
      #nav h2.active span:nth-child(2) {
        transition-delay: 350ms;
        -o-transition-delay: 350ms;
        -ms-transition-delay: 350ms;
        -moz-transition-delay: 350ms;
        -webkit-transition-delay: 350ms; }
      #nav h2.active span:nth-child(3) {
        transition-delay: 450ms;
        -o-transition-delay: 450ms;
        -ms-transition-delay: 450ms;
        -moz-transition-delay: 450ms;
        -webkit-transition-delay: 450ms; }
      #nav h2.active span:nth-child(4) {
        transition-delay: 550ms;
        -o-transition-delay: 550ms;
        -ms-transition-delay: 550ms;
        -moz-transition-delay: 550ms;
        -webkit-transition-delay: 550ms; }
      #nav h2.active span:nth-child(5) {
        transition-delay: 650ms;
        -o-transition-delay: 650ms;
        -ms-transition-delay: 650ms;
        -moz-transition-delay: 650ms;
        -webkit-transition-delay: 650ms; }
      #nav h2.active span:nth-child(6) {
        transition-delay: 750ms;
        -o-transition-delay: 750ms;
        -ms-transition-delay: 750ms;
        -moz-transition-delay: 750ms;
        -webkit-transition-delay: 750ms; }
      #nav h2.active span:nth-child(7) {
        transition-delay: 850ms;
        -o-transition-delay: 850ms;
        -ms-transition-delay: 850ms;
        -moz-transition-delay: 850ms;
        -webkit-transition-delay: 850ms; }
      #nav h2.active span:nth-child(8) {
        transition-delay: 950ms;
        -o-transition-delay: 950ms;
        -ms-transition-delay: 950ms;
        -moz-transition-delay: 950ms;
        -webkit-transition-delay: 950ms; }
      #nav h2.active span:nth-child(9) {
        transition-delay: 1050ms;
        -o-transition-delay: 1050ms;
        -ms-transition-delay: 1050ms;
        -moz-transition-delay: 1050ms;
        -webkit-transition-delay: 1050ms; }
    #nav h2 span {
      width: 10px;
      opacity: 0;
      display: block;
      transform: translateY(10px);
      -o-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transition: opacity 250ms, transform 0s 250ms;
      -o-transition: opacity 250ms, transform 0s 250ms;
      -ms-transition: opacity 250ms, transform 0s 250ms;
      -moz-transition: opacity 250ms, transform 0s 250ms;
      -webkit-transition: opacity 250ms, transform 0s 250ms; }

.footer {
  background: #f8fcfd;
  color: #919191; }
  .footer .footer-inner {
    padding: 50px 0; }
    .footer .footer-inner a {
      font-weight: bold;
      color: #012d41; }
  .footer .copyright {
    float: left;
    width: 50%; }
  .footer .credit {
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 6;
    color: #777;
    font-size: .7rem; }

.section .section-header {
  text-align: center;
  margin-bottom: 5rem; }
  .section .section-header .title-section {
    font-size: 3rem; }
    .section .section-header .title-section a {
      color: #012d41; }
  .section .section-header .title-section-details {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem; }

.toolbar .cart-menu > a {
  font-size: 0;
  text-indent: -9999em;
  display: block;
  position: relative;
  border-radius: 50%;
  border: 1px solid #777;
  width: 50px;
  height: 50px;
  text-align: center; }
  .toolbar .cart-menu > a:after {
    content: "\f3f7";
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    display: block;
    position: absolute;
    left: 11px;
    top: 9px;
    font-size: 2rem; }
  .toolbar .cart-menu > a:hover {
    background: #fff !important; }

.toolbar .dat-hang > a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #012d41;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 15px;
  color: #ffffff !important;
  border-radius: 3rem; }

.primary-menu > li > a {
  text-transform: lowercase; }

/* COMPONENT: share-social-component
-------------------------------------------------------------- */
.widget_social {
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 7;
  padding-right: 30px; }
  .widget_social .follow-title {
    font-size: 13px;
    color: #919191;
    font-family: monospace; }
  .widget_social .widget-body {
    position: absolute;
    right: 0;
    bottom: 0; }
    .widget_social .widget-body p {
      margin-bottom: 0; }
    .widget_social .widget-body a {
      color: #000; }

.fp-viewing-linksectionComfort .widget_social .widget-body a {
  color: #fff; }

/* COMPONENT: share-social-component -------------------------------------------------------------- */
.enter span {
  display: inline-block; }

.enter {
  color: #012d41;
  font-size: 1rem;
  letter-spacing: 3px;
  cursor: pointer;
  font-weight: bold;
  white-space: pre;
  pointer-events: auto; }

.shape {
  display: block;
  width: 100vh;
  height: 100vh;
  background: #000;
  position: absolute; }
  .shape.blue {
    background: #011c28; }

.section-2 {
  color: #ffffff;
  overflow: hidden;
  position: relative; }
  .section-2 .inner {
    position: relative;
    z-index: 7; }
  .section-2 .left-img {
    position: absolute;
    top: 0;
    left: 0; }
    .section-2 .left-img img {
      opacity: .7; }
    .section-2 .left-img:after {
      content: "";
      display: block;
      height: 200vh;
      width: 700px;
      background: #012d41;
      z-index: 1;
      position: absolute;
      left: 50%;
      top: -314px;
      -webkit-transform: rotate(-25deg);
      -o-transform: rotate(-25deg);
      transform: rotate(-25deg); }
    .section-2 .left-img:before {
      content: "";
      display: block;
      height: 100vh;
      width: 500px;
      background: #08d4a1;
      z-index: 2;
      position: absolute;
      left: -50%;
      top: -380px;
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.section-3 {
  position: relative;
  color: #fff; }
  .section-3 .inner {
    position: relative;
    z-index: 2; }
  .section-3 .shape {
    background: #09edb4;
    right: -60%;
    top: -100%; }

.section-4 {
  color: #ffffff; }

.section-7 .fp-tableCell {
  vertical-align: top; }

.section-7 .inner {
  padding-top: 100px; }

.item-feature {
  text-align: center; }
  .item-feature .feature-image {
    margin-bottom: 40px;
    text-align: center; }
  .item-feature .feature-title {
    margin-bottom: 10px;
    font-weight: 700;
    fallback: 1.2rem; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0; }
  to {
    background-position: 10000px 0; } }

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block; }

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0; }

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite; }

.clouds {
  background: transparent url("../images/clouds3.png") repeat top center;
  z-index: 3;
  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite; }

/*# sourceMappingURL=main.css.map */