/*-----------------------------
# [Color codes]
----------------------------- */
/*-----------------------------
# [Size]
----------------------------- */
/*-----------------------------
# [Typography]
----------------------------- */
/*-----------------------------
# [MIXIN]
----------------------------- */
@media (max-width: 1280px) {
  body {
    font-size: 14px; }
  h2 {
    font-size: 18px; }
  .home-hero .home-text .hero-title {
    font-size: 5vw; }
  .section .section-header {
    margin-bottom: 30px; }
    .section .section-header .title-section {
      font-size: 2.5vw; }
    .section .section-header .title-section-details {
      font-size: 14px; }
  .item-feature .feature-image img {
    height: 50px; }
  #header.loaded-section-2, #header.loaded-section-7, #header.loaded-section-8, #header.loaded-section-5 {
    background: #fff; }
  #header.loaded-section-3, #header.loaded-section-6 {
    background: #012d41; }
  #header.loaded-section-4 {
    background: #feae01; }
  .section-footer {
    display: none; }
  .footer-nav {
    padding-left: 72px;
    padding-top: 68px; } }

@media (max-width: 1024px) and (orientation: portrait) {
  #sectionHero.home-hero {
    height: 60vw !important; }
    #sectionHero.home-hero .fp-tableCell {
      height: 60vw !important; }
  .fp-tableCell,
  .fp-table {
    height: auto !important; }
  .section .inner {
    padding: 30px 0; } }

@media (max-width: 900px) {
  .footer .footer-inner {
    padding-top: 20px;
    padding-bottom: 20px; }
  .footer .copyright {
    float: none;
    width: auto;
    text-align: center; }
    .footer .copyright .footer-nav {
      padding: 0; }
  .footer .credit {
    float: none;
    width: auto;
    text-align: center; }
  .footer .section-newsletter {
    margin-top: 20px;
    margin-bottom: 20px; }
  .footer .subscribe-form {
    justify-content: center; } }

@media (max-width: 768px) {
  .master-inner {
    padding-bottom: 40px; }
  #header {
    padding-top: 30px;
    padding-bottom: 30px; }
  #sectionService {
    padding-top: 250px; }
  .fp-tableCell,
  .fp-table {
    height: auto !important; }
  .nav-tabs {
    height: auto; }
    .nav-tabs > li > a {
      font-size: 16px; } }

@media (max-width: 767px) {
  .footer .credit-txt {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center; }
  .widget_social {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background: #012d41;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    text-align: center; }
    .widget_social .follow-title {
      color: #fff; }
    .widget_social .widget-body {
      position: relative;
      right: auto;
      bottom: auto;
      display: flex; }
      .widget_social .widget-body a {
        display: block;
        font-size: 18px;
        line-height: 1;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        color: #ffffff; }
  .navbar-collapse .toolbar {
    display: none; }
  #header[class^="loaded-section-"] .hidden-pc .toolbar {
    top: 14px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .hidden-pc {
    display: block; }
    .hidden-pc .toolbar {
      position: fixed;
      right: 70px;
      top: 35px;
      margin: 0;
      width: 215px;
      display: flex; }
      .hidden-pc .toolbar .cart-menu > a {
        width: 40px;
        height: 40px; }
        .hidden-pc .toolbar .cart-menu > a:after {
          left: 6px;
          top: 4px; }
  #nav {
    display: none; }
  .navbar-default .navbar-collapse {
    background: #012d41; }
    .navbar-default .navbar-collapse .primary-menu {
      margin: 0; }
      .navbar-default .navbar-collapse .primary-menu > li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.05); }
        .navbar-default .navbar-collapse .primary-menu > li > a {
          color: #fff; }
          .navbar-default .navbar-collapse .primary-menu > li > a:after {
            left: 0;
            bottom: 0;
            right: auto;
            width: 0;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            transition: 0.5s all; }
          .navbar-default .navbar-collapse .primary-menu > li > a:hover:after {
            width: 100%; }
  #sectionComfort .row .col-xs-6:nth-child(2n+1) {
    clear: left; }
  #sectionShips .row .col-xs-6:nth-child(2n+1) {
    clear: left; } }

@media (max-width: 580px) and (orientation: portrait) {
  #sectionHero.home-hero {
    height: 80vh !important;
    background-size: auto 100%; }
    #sectionHero.home-hero .fp-tableCell {
      height: 80vh !important; } }

@media (max-width: 580px) {
  .section .inner {
    padding-top: 30px;
    padding-bottom: 30px; }
  .section .section-header .title-section {
    font-size: 20px; } }

@media (max-width: 480px) {
  .row .instagram-item {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 70%;
    margin: 0 auto 20px; }
  #sectionComfort .row .col-xs-6 {
    float: none;
    width: auto;
    margin: 0 auto;
    max-width: 80%; }
  #sectionCool .row .col-sm-4 {
    float: none;
    width: auto;
    margin: 0 auto;
    max-width: 80%; } }

/*# sourceMappingURL=style-responsive.css.map */